<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
      {{ item.name | downcase }}
    </a>
  {% endfor %}
  <a href="https://github.com/ayberkt">
    <img
      src="/assets/images/GitHub-Mark-120px-plus.png"
      style="width: 1em; margin-inline-start: 0.5em"
      alt="GitHub icon"/>
  </a>
  <a href="https://orcid.org/0000-0002-0190-3020">
    <img
      src="https://orcid.org/assets/vectors/orcid.logo.icon.svg"
      style="width: 1em; margin-inline-start: 0.5em"
      alt="ORCID iD icon"/>
  </a>
</nav>
